/* 基本的なボーダーを消す */
.r-1kqtdi0,
.r-1igl3o0 {
  border: none !important;
}

/* カキコの下のボーダーを消す */
.r-109y4c4 {
  height: 0 !important;
}

/* TLの幅を600pxから700pxに、右サイドバーの幅を350pxから250pxに変更 */
.r-1ye8kvj {
  max-width: 700px !important;
}
.r-1hycxz {
  width: 250px !important;
}
.css-175oi2r.r-kemksi.r-1kqtdi0.r-th6na.r-1phboty.r-1dqxon3.r-1hycxz {
  width: 350px !important;
}

/* ヘッダーのスクロールバーを消す */
.css-175oi2r.r-1pi2tsx.r-1wtj0ep.r-1rnoaur.r-o96wvk.r-is05cd {
  overflow-y: scroll !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
.css-175oi2r.r-1pi2tsx.r-1wtj0ep.r-1rnoaur.r-o96wvk.r-is05cd::-webkit-scrollbar {
  display: none !important;
}

/* サイドバーの”Subscribe to Premium”を消す */
.css-175oi2r.r-1habvwh.r-eqz5dr.r-uaa2di.r-1mmae3n.r-3pj75a.r-bnwqim {
  display: none;
}

/* サイドバーの”Who to follow”を消す */
.css-175oi2r.r-1bro5k0 {
  display: none;
}

/* TL上のUserNameを消す */
a
  > .css-146c3p1.r-dnmrzs.r-1udh08x.r-3s2u2q.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-18u37iz.r-1wvb978,
.css-175oi2r:nth-child(2)
  > .css-175oi2r
  > .css-175oi2r:nth-child(2)
  > .css-175oi2r
  > .css-175oi2r:nth-child(1)
  > .css-175oi2r
  > .css-146c3p1:nth-child(1)
  > .css-1jxf684,
.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-1q142lx.r-n7gxbd {
  display: none;
}

/* サイドバーのWhat’s happeningのステータスを見やすく */
.css-175oi2r.r-1mmae3n.r-3pj75a.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21
  > div
  > div
  > .css-175oi2r.r-1wbh5a2.r-1awozwy.r-18u37iz {
  display: flex;
  flex-flow: column;
}
.r-r2y082 {
  max-width: 100%;
}

/* 時計、日付のフォントカラーを変更 */
#date__container__text,
#time__container__text {
  color: #e7e9ea;
}
